<!-- <div class="form-group">
    
    <label for="prdCat" aria-placeholder="All">Category</label>
     
    <select class="form-control" name="cat" id="prdCat" [(ngModel)]="selectCatID" (change)="filterProductsByCatID()">
      <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
    </select>
    <div class="text-secondary">
        [to be removed] for test:
        {{selectCatID}}
  
        <br>
    </div> -->
  <!-- </div> --> 
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Image</th>
            <th>Available quantity</th>
            <th>Price</th>
            <th>Count</th>
            <!-- <th>Add to Cart</th> -->
            
        </tr>
    </thead>
    <tbody>
        <!--let i = index, same as index as i-->

        <!--track by used to specify iterable objects identity, and so enhance the performance of ngFor in case of changes to the collection and update the changes object, without rebuilding the dom -->


        <!--to hide sth: 
            [hidden] = "prd.quantity ==0"
            //ngIF "structure directives"
            which one to use? if sth is changed cont. in runtime wana 3ala asasha bazher haga w bakhfy haga .. then use hidden
            //however if u have hagat keter w sabta mesh btetghyar wenta 3amel hidden l part keber menhom, then use ngIf, 3ashan badal manemla el dom b hagat keter hidden ana mehs me7tagha, khalli ngif t loop 3leihom mn el awal w el me7tageno ne3redo wl msh me7tageno khalas

        -->

        <!--
            - ngIf (structureal directives in general), changes in DOM, while class binding or [hidden] just change the DOM element to be hidden. 
            - Use ngIf, if collection isn't changed regularly in the runtime
            - Use binding, if the collection is reguraly changed.
            - We can't use 2 structural directives on the same html element but we can use <ng-container> that won't reflect on the actual DOM as a work around
        -->
        <!--"let prd of prdList; index as i; trackBy: prdTrackByFn" [class.bg-danger]="prd.quantity==0 "[class.d-none] ="selectCatID!=prd.categoryID"-->

        <tr *ngFor="let prd of prdListOfCat; let i = index">
            <td>{{i+1}}</td>
            <td>{{prd?.name}}</td>
            <td><img appLightBox="#ED5565" defaultColor="black" src={{prd.imgURL}}></td>
            <td>
                <!-- <div *ngIf="prd.quantity!=0">{{prd?.quantity}}</div>
                <div *ngIf="prd.quantity==0">{out of stock</div> -->
                
                <!-- <div *ngIf="prd.quantity!=0;else outOfStock">{{prd?.quantity}}</div>
                <ng-template #outOfStock>Out of stock</ng-template> -->

                <ng-container [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0"> Out of Stock</div>
                    <div *ngSwitchCase="1">last item. Hurry up!</div>
                    <div *ngSwitchCase="2">
                        2 items only left.
                    </div>
                    <div *ngSwitchDefault>{{prd.quantity}}</div>
                </ng-container>


            </td>
            <td>{{prd?.price | currency: 'USD': 'symbol'}}</td>
            <td><input #itemsCount class="form-control" type="number"></td>
            <td><button type="button" class="btn btn-secondary" (click)="buy(prd.price, itemsCount.value);">Buy</button></td>
            <td><button type="button" class="btn btn-secondary" (click)="addToCart(prd.id, prd.name, prd.price, prd.quantity, prd.imgURL, prd.categoryID);">Add to Cart </button></td>
            <td><button type="button" class="btn btn-secondary" >Cart Items Count</button> <div>{{viewCart()}}</div></td>
            

        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<hr>
<h3> To be Removed for testt Order total Price: {{orderTotalPrice}}</h3>